@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Basic Styles */

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
}

header, footer {
    background: #f0efef;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    position: relative;
    padding: 10px; 
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.iframe-url {
    display: none;
}

/* Lists */

li {
    font-size: 110%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Images */

figure > img {
    max-width: 45%;
    max-height: 45%;
}

section > img {
    max-width: 120%;
    max-height: 120%;
}

/* 2 Column Layout */

.main-content, .sidebar {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.sidebar {
    font-size: 15px;
    width: 20%;
    float: right;
    padding: 20px;
}

.main-content {
    width: 80%;
    float: left;
    padding: 20px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

header img.flag {
    height: 1em;
    margin-right: 10px;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

/* Hover Effect */

a:hover,
button:hover,
input:hover,
textarea:hover {
    color: magenta;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

thead, tfoot {
    background-color: #f2f2f2;
}

/* Table with Images */

table#vertical {
    display: block;
}

table#vertical td {
    display: inline-block;
}

table#vertical img {
    width: 100%;
}

/* Figure Image */

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    max-width: 100%;
    height: auto;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Figcaption */

figure figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

/* Add spacing between sections and other elements */

section {
    margin-bottom: 30px;
}

h2, h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

p, ul, ol, blockquote {
    margin-bottom: 20px;
}

blockquote {
    padding: 10px 20px;
    border-left: 5px solid #cac8c8;
    background-color: #f9f9f9;
}

ul, ol {
    padding-left: 20px;
}

aside.sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

aside.sidebar ul {
    padding-left: 20px;
}

aside.sidebar ul li {
    margin-bottom: 10px;
}

/* Form Styles */

label, input {
    margin-left: 10px;
}

input[type=submit], input[type=reset] 
{
    width: 45%;
    text-align: center;
    display: inline-block;
}