.iframe-url {
    display: none;
}

@media print {

    header, footer, nav, iframe {
        display: none;
    }

    .iframe-url{
        display: block;
    }

    .container {
        width: 100%;
    }
    
}