/* Responsive Design for Different Viewports */

@media (max-width: 600px) {

    body {
        font-size: 16px;
    }

    .container {
        width: 95%;
    }

    header {
        font-size: 15px;
    }

    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .main-content, .sidebar {
        width: 100%;
    }
    
    th, td {
        font-size: 10px;
        padding: 0px;
    }

    img:not(.flag) {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

    body {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }

    header, footer {
        padding: 15px;
    }

    nav ul li {
        display: inline-block;
        margin: 0 5px;
    }

    .sidebar {
        width: 50%;
    }

    th, td {
        font-size: 12px;
        padding: 3px;
    }

    img:not(.flag) {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    
    body {
        font-size: 18px;
    }

    .container {
        width: 85%;
    }

    header, footer {
        padding: 20px;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

    .main-content {
        width: 65%;
    }

    .sidebar {
        width: 35%;
    }

    th, td {
        font-size: 16px;
        padding: 3px;
    }

    iframe {
        width: 560px;
        height: 315px;
    }
}